@use '../abstracts' as *;
@use "sass:map";

body {
  margin: 30px 20px;
}

@include tablet {
    body {
    margin: 70px 70px;
  }
}

@include notebook {
    body {
    margin: 80px 100px;
  }
}

@include large-screens {
    body {
    margin: 90px 150px;
  }

}

@include extra-large-screens {
  body {
    margin: 100px 200px;
  }
}