@use '../abstracts' as *;

body {
  margin: 30px 20px;
}

.pageSection {
  margin-top: 30px;
  margin-bottom: 40px;
}

@include big-mobile {
    body {
    margin: 40px 30px;
  }
}

@include tablet {
    body {
    margin: 70px 70px;
  }
}

@include notebook {
    body {
    margin: 80px 100px;
  }
}

@include large-screens {
    body {
    margin: 90px 150px;
  }

}

@include extra-large-screens {
  body {
    margin: 100px 200px;
  }
}