@use '../abstracts' as *;
@use "sass:map";



.FoodCategories_container {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;

  & .FoodCategories_category {
    list-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), var(--bg-image);
  }  
}



@include tablet {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



@include notebook {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



@include large-screens {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}



@include extra-large-screens {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
}