@use '../abstracts' as *;
@use "sass:map";

.FoodCategories_title{
  text-align: center;
  color: $dark-green;
}

.FoodCategories_p {
  text-align: center;
  color: $dark-green;
}

.FoodCategories_container {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;

  & .FoodCategories_category {
    list-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), var(--bg-image);
    & p {
      font-weight: bold;
      color: $cream;
    }
  }  
}


@media (min-width: map.get($breakpoints, "tablet")) {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: map.get($breakpoints, "notebook")) {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: map.get($breakpoints, "large screens")) {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: map.get($breakpoints, "extra large screens")) {
  .FoodCategories_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
}