@use '../abstracts' as *;

.FoodCategories_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: white;
  & .FoodCategories_category {
    width: 100%;
    padding: 10px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    var(--bg-image);
  }
}