 @use '../abstracts' as *;
@use "sass:map";


.recipeNotFoundMessage {
  text-align: center;
  color: $orange;
  font-size: large;
  font-weight: map.get($font-weights, "bold");
  margin: 40px 0px;
}

.RecipeList_p {
  text-align: center;
}

.RecipeList_container {
  list-style: none;
  margin: 20px 0px;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.RecipeList_loadMore {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px
}

.RecipeList_loadMoreButton {
  @include round-button-style($cream, $yellow);
}

@include tablet {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}



@include notebook {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



@include large-screens {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}



@include extra-large-screens {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}