@use '../abstracts' as *;
@use "sass:map";



.RecipeList_container {
  list-style: none;
  margin: 20px 0px;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.RecipeList_p {
  text-align: center;
}


@include tablet {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}



@include notebook {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



@include large-screens {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}



@include extra-large-screens {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}