@use "../abstracts" as *;
@use "sass:map";

.RecipePage {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;

  &_section {
    padding: 30px 0px;
  }

  &_top {
    margin-top: 0px;
    display: grid;
    margin-bottom: 40px;
    justify-items: center;
  }

  &_bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "ingredients"
      "steps"
      "notes";

    .ingredients {
      grid-area: ingredients;
    }

    .steps {
      grid-area: steps;
    }

    .notes {
      grid-area: notes;
    }
  }
}

.mainInfo {
  text-align: center;
  color: $dark-green;

  & span {
    margin: 20px;
    color: inherit;
  }

  &_source {
    color: inherit;
  }
}

.image {
  width: 85%;
  border-radius: 10px;
  box-shadow: 15px 15px 0px 0px $white;
}



// BIG-MOBILE

@include big-mobile {
  .Filter_container {
    gap: 12px 30px;
    margin-bottom: 30px;
    &_eachFilter {
      input:not([type="radio"]),
      select {
        padding: 3px 15px;
      }
    }
  }
  .image {
    box-shadow: 20px 20px 0px 0px $white;
  }
}



// TABLET

@include tablet {
  .RecipePage {
    &_section {
      padding: 15px 30px;
    }
  }

  .mainInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & span {
      margin: 10px;
    }
  }

  .image {
    margin: 0px 15px;
    border-radius: 10px;
    width: 70%;
    height: 400px;
    object-fit: cover;
    box-shadow: 25px 25px 0px 0px $white;
  }
}



// NOTEBOOK

@include notebook {
  .RecipePage {
    &_section {
      padding: 50px 0px;
    }

    &_top {
      grid-template-columns: 2fr 3fr;
      margin-top: 40px;
      gap: 40px;
    }

    &_bottom {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "ingredients steps"
        "notes steps";
      gap: 50px;
    }
  }
  .image {
    width: 90%;
  }
}



// LARGE SCREENS

@include large-screens {
  .RecipePage {
    margin-left: 10%;
    margin-right: 10%;
  
  
    &_top {
      gap: 50px;
    }

    &_bottom {
      gap: 70px;
    }
    }
}



// EXTRA-LARGE SCREENS

@include extra-large-screens {
  .RecipePage {
    margin-left: 15%;
    margin-right: 15%;
  }
}
