@use '../abstracts' as *;
@use "sass:map";

.RecipeList_title{
  text-align: center;
  color: $dark-green;
}

.RecipeList_p {
  text-align: center;
  color: $dark-green;
}

.RecipeList_container {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  list-style: none;
}

@include tablet {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@include notebook {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@include large-screens {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@include extra-large-screens {
  .RecipeList_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}