// FONTS

$title-main: 'DM Serif Text';
$title-secondary: 'Fira Sans';
$text: 'Quicksand';


// COLORS

$orange: rgb(243 82 1);
$light-blue: rgb(187 223 235);
$yellow: rgb(244 171 17);
$cream: rgb(243 237 223);
$dark-green: rgb(1 41 33);